<!-- Extends base layout -->
{%extends "base.html" %}

{% block content %}
<main role="main">
    <div class="jumbotron">
            <p><h1>Organization Admin: {{ org.name }}</h1>
            <br> <h2> Template: {{ template.name }}</h2>
            </p>
    </div>
    <div class="row">
            <div class="col-4"><h2>User Templates</h2>
        {% for i in templates %}
        <div>
            <a href={{ url_for('admin_org_template',template_id=i.id) }}>{{ i.name.title() }}</a>
        </div>
        {% endfor %}

                <div>
                     <h2>Admin Actions</h2>
                     <input class="btn btn-danger" data-toggle="confirmation" value="Delete" onclick="location.href = '{{ url_for('admin_org_template', template_id=template.id, delete=1) }}';">
                </div>
    </div>
    <div class="col-8">
        <h2>Template Attributes</h2>
        <div>
            <form action="" method="post" name="changeuserou">
            Organizational Unit DN: {{ ouform.ouname }} <input class="btn btn-primary" type="submit" value="Change">
            </form>
        </div>
        <div>
            <h3>Single Var Attributes:</h3>
                {% for sv in single_attributes %}
                    {% if sv.id == selected_single_attribute %}
                    <div>
                        <form action="" method="post" name="changekv">
                            {{ svform.mod_key }} {{ svform.mod_value }} Remove {{ svform.mod_delete }} <input class="btn btn-primary" type="submit" value="Change">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        {{ sv.key }}:  {{ sv.value }} <a href={{ url_for('admin_org_template', template_id=template.id, selected_single_attribute=sv.id) }}>Edit</a>
                    </div>
                    {% endif %}
                {% endfor %}
            <div>
                <form action="" method="post" name="addkv">
                {{ new_sv_form.key }} {{ new_sv_form.value }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
        </div>
                <div>
            <h3>Multi Var Attributes:</h3>
                {% for mv in multi_attributes %}
                    {% if mv.id == selected_multi_attribute %}
                    <div>
                        <form action="" method="post" name="changekv">
                            {{ mvform.mod_mkey }} {{ mvform.mod_mvalue }} Remove {{ mvform.mod_mdelete }} <input class="btn btn-primary" type="submit" value="Change">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        {{ mv.key }}:  {{ mv.value }} <a href={{ url_for('admin_org_template', template_id=template.id, selected_multi_attribute=mv.id) }}>Edit</a>
                    </div>
                    {% endif %}
                {% endfor %}
            <div>
                <form action="" method="post" name="addkv">
                {{ new_mvform.mkey }} {{ new_mvform.mvalue }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>

    </div>
</main>

{% endblock %}