<!-- Extends base layout -->
{%extends "base.html" %}

{% block content %}
<main role="main">
    <div class="jumbotron">
            <p><h1>Organization Admin: {{ org.name }}</h1></p>
    </div>
    <div class="row">
            <div class="col-4"><h2>User Templates</h2>
        {% for i in templates %}
        <div>
            <a href={{ url_for('admin_org_template',template_id=i.id) }}>{{ i.name.title() }}</a>
        </div>
        {% endfor %}
        {{ form.hidden_tag() }}
        <form action="" method="post" name="add">
            {{ form.name.label }} {{ form.name }}
            <input class="btn btn-primary" type="submit" value="Change">
        </form>
    </div>
    <div class="col-8">
        <h2>Template Attributes</h2>
        <div>
            <h3>Single Var Attributes:</h3>
                {% for sv in single_attributes %}
                    {% if sv.id == selected_single_attribute %}
                    <div>
                        <form action="" method="post" name="addkv">
                            {{ svform.key }} {{ svform.value }} Remove {{ svform.delete }} <input class="btn btn-primary" type="submit" value="Change">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        {{ sv.key }}:  {{ sv.value }} <a href={{ url_for('admin_org_template', template_id=template.id, selected_single_attribute=sv.id) }}>Edit</a>
                    </div>
                    {% endif %}
                {% endfor %}
            <div>
                <form>
                {{ new_sv_form.key }} {{ new_sv_form.value }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
        </div>
    </div>
    </div>
</main>

{% endblock %}