<!-- Extends base layout -->
{%extends "base.html" %}

{% block content %}
<main role="main">
    <div class="jumbotron">
            <p><h1>Organization Admin: {{ org.name }}</h1>
            <br> <h2> Template: {{ template.name }}</h2>
            </p>
    </div>
    <div class="row">
            <div class="col-4"><h2>User Templates</h2>
        {% for i in templates %}
        <div>
            <a href={{ url_for('admin_org_template',template_id=i.id) }}>{{ i.name.title() }}</a>
        </div>
        {% endfor %}

                <div>
                     <h2>Admin Actions</h2>
                     <input class="btn btn-danger" data-toggle="confirmation" value="Delete" onclick="location.href = '{{ url_for('admin_org_template', template_id=template.id, delete=1) }}';">
                </div>
    </div>
    <div class="col-8">
        <h2>Template Attributes</h2>
        <div>
            <form action="" method="post" name="changeuserou">
            Organizational Unit DN: {{ ouform.ouname }} <input class="btn btn-primary" type="submit" value="Change">
            </form>
        </div>
        <div>
            <h3>Single Var Attributes:</h3>
                {% for sv in single_attributes %}
                    {% if sv.id == selected_single_attribute %}
                    <div>
                        <form action="" method="post" name="changekv">
                            {{ svform.mod_key }} {{ svform.mod_value }} Remove {{ svform.mod_delete }} <input class="btn btn-primary" type="submit" value="Change">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        {{ sv.key }}:  {{ sv.value }} <a href={{ url_for('admin_org_template', template_id=template.id, selected_single_attribute=sv.id) }}>Edit</a>
                    </div>
                    {% endif %}
                {% endfor %}
            <div>
                <form action="" method="post" name="addkv">
                {{ new_sv_form.key }} {{ new_sv_form.value }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
        </div>
                <div>
            <h3>Multi Var Attributes:</h3>
                {% for mv in multi_attributes %}
                    {% if mv.id == selected_multi_attribute %}
                    <div>
                        <form action="" method="post" name="changekv">
                            {{ mvform.mod_mkey }} {{ mvform.mod_mvalue }} Remove {{ mvform.mod_mdelete }} <input class="btn btn-primary" type="submit" value="Change">
                        </form>
                    </div>
                    {% else %}
                    <div>
                        {{ mv.key }}:  {{ mv.value }} <a href={{ url_for('admin_org_template', template_id=template.id, selected_multi_attribute=mv.id) }}>Edit</a>
                    </div>
                    {% endif %}
                {% endfor %}
            <div>
                <form action="" method="post" name="addkv">
                {{ new_mvform.mkey }} {{ new_mvform.mvalue }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
            <div>
                <h3>
                    Assigned Roles:
                </h3>
                {% for r in template.roles %}
                <form method="post" action="template?template_id={{ template.id }}" class="inline">
                {{ r.name }} <button type="submit" name="remove_role" value="{{ r.id }}" class="btn btn-xs btn-danger">Remove</button>
                </form><br>
                {% endfor %}
                <form action="" method="post" name="Inputs">
                {{ form.hidden_tag() }}
                {{ roleform.rolename() }} <input class="btn btn-primary" type="submit" value="Add">
                </form>
            </div>
            <div>
            <h2>Tasks</h2>
              {% for i in g.user.tasks %}
              Task id: {{ i.id }}<br>
              Task Type: {{ i.task_type }}
              <p>Directory: {{ i.template.organization.name.title() }}<br>Status:
                  <font color={% if i.status.name.title() == 'New' %}"blue"{% elif i.status.name.title() == 'In Progress' or i.status.name.title() == 'Completed'%}"green"{% elif i.status.name.title() == 'Failed' %}"red"{% endif %}>
                      {{ i.status.name.title() }}</p></font>
              {% endfor %}
          </div>
        </div>
    </div>

    </div>
</main>

{% endblock %}