<!-- Extends base layout -->
{%extends "base.html" %}
{% block content %}
<main role="main">
    <div class="jumbotron">
            <p><h1>User Admin: {{ user.username }} - {{ user.first_name.title() }} {{ user.last_name.title() }}</h1></p>
    </div>
    <div><h2>User Roles:</h2>
        {% for r in roles %}
        <form method="post" action="user?user_id={{ user.id }}" class="inline">
        {{ form.hidden_tag() }}
            {{ r.name }} <button type="submit" name="remove_role" value="{{ r.id }}" class="btn btn-danger btn-xs">Remove</button>
        </form>
        <br>
        {% endfor %}

        <form action="" method="post" name="Inputs">
        {{ form.hidden_tag() }}
        {{ roleform.rolename() }} <input class="btn btn-primary" type="submit" value="Add">
        </form>
    <div>
        <h2>Admin Actions</h2>
        <button class="btn btn-default" data-toggle="confirmation">Confirmation</button>
        <input class="btn btn-success" value="Resync This User" onclick="location.href = '{{ url_for('admin_user', user_id=user.id, resync=1) }}';">
        <input class="btn btn-danger" data-toggle="confirmation" value="Delete" onclick="location.href = '{{ url_for('admin_user', user_id=user.id, delete=1) }}';">
    </div>
</main>
{% endblock %}